{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-4 text-center display-5">Workouts</h1> 
    <p class="text-center text-muted mb-4">Explore our range of workouts tailored to suit various fitness goals and levels.</p>


    <!-- Breadcrumb Navigation with All Categories -->
    <nav class="breadNav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for category in categories %}
                <li class="breadcrumb-item {% if selected_category and selected_category.id == category.id %}active{% endif %}">
                    {% if selected_category and selected_category.id == category.id %}
                        {{ category.title }}
                    {% else %}
                        <a href="{% url 'workouts_by_category' category.id %}">{{ category.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>

    <!-- Workouts Display in Two-Column Layout -->
    <div class="row">
        {% for category in workout_categories %}
            {% for exercise in category.exercises.all %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow-sm h-100 borderRadiusAll15">
                        {% if exercise.image %}
                        <div class="blogImgThumbnail">
                            <img src="{% static exercise.image %}" class="card-img-top blogImg" alt="{{ exercise.name }}">
                        </div>     
                        {% endif %}
                        <div class="card-body d-flex flex-column cardBlog">
                            <h5 class="card-title">{{ exercise.name }}</h5>
                            <p class="card-text marB10">{{ exercise.description|truncatewords:20 }}</p>
                            <a href="{% url 'workout_detail' exercise.id %}" class="btn btnBorder mt-auto">Get Workout Routine</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
