.cardBlog
{
    overflow: hidden !important;
}
/* .blogImgThumbnail
{
    width: 100%;
    height: 350px;
} */

.blogImg
{
    height: 300px; 
    object-fit: cover; 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

.btnBorder
{
    color: #5D737E;
    border-color: #5D737E;
}
.btnBorder:not(:disabled):not(.disabled).active, .btnBorder:not(:disabled):not(.disabled):active, .show>.btnBorder.dropdown-toggle
{
    color: #fff;
    background-color: #5D737E;
    border-color: #5D737E;
}
.btnBorder:not(:disabled):not(.disabled).hover, .btnBorder:not(:disabled):not(.disabled):hover, .show>.btnBorder.dropdown-toggle
{
    color: #fff;
    background-color: #5D737E;
    border-color: #5D737E;
}
/* Fitness Workouts Page */
.workoutsContainer {
    max-width: 800px;
}

.display-4, .display-6 {
    color: #333;
}
.breadNav
{
    background: #5D737E;
    border-radius: 10px;
}

.breadcrumb {
    background-color: transparent;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.breadcrumb-item+.breadcrumb-item::before
{
    color: #f8f9fa;
}

.breadcrumb-item a {
    color: #000;
    text-decoration: none;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: #fff;
}

.exercise {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
