body
{
    margin: 0;
}
.signUpMain 
{
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
.signUpContainer 
{
    width: 350px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    overflow-y: scroll;
    height: 65vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.signUpForm 
{
    display: flex;
    flex-direction: column;
}
.signupP
{
    font-size: 12px;
    color: #5D737E;
}
.signUpForm input
{
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.signUpForm select 
{
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.signupBtnDiv
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.signupBtn 
{
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 100px;
    background-color: #5D737E;
    color: #02111B;
    cursor: pointer;
}
.signupBtn :hover 
{
    background-color: #5D737E;
}
.signupBtn p
{
    margin: 0;
    font-size: 16px;
}
.errorlist
{
    list-style-type: none;
    color: red;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #5D737E #f9f9f9;
}

/* WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f9f9f9;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #5D737E;
    border-radius: 100px;
    border: 3px solid #f9f9f9;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5D737E;
}
