{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
<div class="container marB10">
    <div class="aboutUsMain">
        <div class="aboutUsHeader">
            <h1 class="mt-3 textAlignCenter">About Us</h1>
            <p>At NutriFit AI Chat, we are dedicated to revolutionizing the way individuals access information about nutrition and fitness. 
             Our cutting-edge technology provides personalized assistance through AI-powered chat options, enhancing user experience on health and wellness websites. 
             With a focus on delivering valuable resources and professional guidance, we are committed to helping people improve their overall well-being. 
             Trust NutriFit AI Chat to bring innovation and expertise to your online platform.
            </p>
        </div>
        <div class="teamProfile">
            <h1 class="mt-3 mb-3 textAlignCenter">Team</h1>
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="profileCard row">  
                            <div class="col-3 cardLeft">
                                <img class="profImg" src="{% static 'img/sownd.JPG' %}" alt="Profile Picture">
                            </div>
                            <div class="col-8 cardRight">
                                <h3 >Sowndarya Nookala</h3>
                                <p class="tagline">
                                    Sowndarya is a passionate technology enthusiast with a strong focus on health and fitness. As a co-founder of NutriFit AI Chat, she combines her expertise in computer science with her dedication to wellness, revolutionizing personalized nutrition and fitness guidance. Her innovative approach and commitment to leveraging technology ensure that users receive customized, effective solutions to meet their health goals.    
                                </p>
                                <div class="socialMediaIcons mt-4">
                                    <div class="iconItem">
                                        <img src="{% static 'img/instaicon.png' %}" alt="NutriFit Logo" width="40" height="40">
                                    </div>
                                    <div class="iconItem">
                                        <img src="{% static 'img/fbicon.png' %}" alt="NutriFit Logo" width="40" height="40">
                                    </div>
                                </div>
                            </div>                     
                    </div>    
                </div>
                <div class="col-12 mb-4">
                    <div class="profileCard row">  
                            <div class="col-3 cardLeft">
                                <img class="profImg2" src="{% static 'img/sumanth.jpg' %}" alt="Profile Picture">
                            </div>
                            <div class="col-8 cardRight">
                                <h3 >Sai Sumanth Bommanpad</h3>
                                <p class="tagline">
                                    Sumanth is a dedicated technology expert with a keen interest in cybersecurity and systems innovation. As a co-founder of NutriFit AI Chat, he leverages his technical expertise to drive advancements in personalized nutrition and fitness, ensuring that cutting-edge solutions are at the forefront of the industry. His commitment to integrating technology with wellness helps deliver tailored, effective fitness and nutrition guidance to users worldwide.
                                </p>
                                <div class="socialMediaIcons mt-4">
                                    <div class="iconItem">
                                        <img src="{% static 'img/instaicon.png' %}" alt="NutriFit Logo" width="40" height="40">
                                    </div>
                                    <div class="iconItem">
                                        <img src="{% static 'img/fbicon.png' %}" alt="NutriFit Logo" width="40" height="40">
                                    </div>
                                </div>
                            </div>  
                    </div>    
                </div>
                <!-- <div class="col-12 mb-4">
                    <div class="profileCard row">  
                            <div class="col-3 cardLeft">
                                <img class="profImg" src="{% static 'img/sarah.jpg' %}" alt="Profile Picture">
                            </div>
                            <div class="col-8 cardRight">
                                <h3>Sarah Johnson</h3>
                                <p class="tagline">
                                    Sarah is a certified nutritionist and fitness trainer with a wealth of experience in wellness and health optimization. At NutriFit AI Chat, she curates engaging and informative fitness blogs and gym-related content, drawing on her extensive knowledge to provide valuable insights and practical advice. Her expertise extends to developing personalized nutrition plans and fitness regimens, helping users achieve their health goals through evidence-based strategies. 
                                </p>
                                <div class="socialMediaIcons mt-4">
                                    <div class="iconItem">
                                        <img src="{% static 'img/instaicon.png' %}" alt="NutriFit Logo" width="40" height="40">
                                    </div>
                                    <div class="iconItem">
                                        <img src="{% static 'img/fbicon.png' %}" alt="NutriFit Logo" width="40" height="40">
                                    </div>
                                </div>
                            </div>  
                    </div>    
                </div>
                <div class="col-12 mb-4">
                    <div class="profileCard row">  
                            <div class="col-3 cardLeft">
                                <img class="profImg" src="{% static 'img/ryan.jpg' %}" alt="Profile Picture">
                            </div>
                            <div class="col-8 cardRight">
                                <h3>Ryan Smith</h3>
                                <p class="tagline">
                                    Ryan is a seasoned entrepreneur with extensive experience in digital marketing and user experience. With a track record of successfully launching and scaling startups, he combines his deep understanding of market trends with a passion for innovative solutions. Ryan excels in creating compelling marketing strategies and enhancing user interfaces to drive engagement and growth. 
                                </p>                                
                                <div class="socialMediaIcons mt-4">
                                    <div class="iconItem">
                                        <img src="{% static 'img/instaicon.png' %}" alt="NutriFit Logo" width="40" height="40">
                                    </div>
                                    <div class="iconItem">
                                        <img src="{% static 'img/fbicon.png' %}" alt="NutriFit Logo" width="40" height="40">
                                    </div>
                                </div>
                            </div>  
                    </div>    
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
