{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-4 text-center display-5">Expert Blogs</h1>
    <p class="text-center text-muted mb-4">Stay informed with the latest nutrition articles and expert advice.</p>

    <div class="row">
        {% for item in content_list %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm h-100">
                {% if item.image %}
                <div class="blogImgThumbnail">
                    <img src="{% static  item.image %}" class="card-img-top blogImg" alt="{{ item.title }}">
                </div>
                {% endif %}
                <div class="card-body cardBlog">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    {% if item.link %}
                        <a href="{% url 'expert_blogs_detail' item.pk %}" class="btn btnBorder mt-auto">Read More</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
