{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/NutriFit.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="signUpMain">
        <div class="signUpContainer">
            <h3 class="mar0 textAlignCenter">Join us Today</h3>
            <p class="mar0 textAlignCenter tagline signupP">SignUp your account</p>
            <hr>
            <form class="signUpForm" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                </div>
                <div class="form-group">
                    {{ form.sex.label_tag }}
                    <br>
                    {{ form.sex }}
                    {{ form.sex.errors }}
                </div>
                <div class="form-group">
                    {{ form.age.label_tag }}
                    {{ form.age }}
                    {{ form.age.errors }}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label_tag }}
                    {{ form.confirm_password }}
                    {{ form.confirm_password.errors }}
                </div>
                {% if error %}
                    <p class="signUpError">{{ error }}</p>
                {% endif %}
                <div class="signupBtnDiv">
                    <button class="signupBtn" type="submit">
                        <p>Signup</p>
                     </button>
                </div>   
            </form>
            <p class="textAlignCenter">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</body>
</html>
